/* @media (max-width: 768px) {}


@media (max-width: 480px) {
    body{
        background-color: crimson;
    }
    .bigdiv{
        display: flex;
        background-color: hotpink;
        

    }
    .form1{
        display: inline-block;
        justify-content: right  ; */
    }
}