body{
    background-color: rgb(2, 2, 31);
}
.space{
    margin-left: 4px;
    font-size: medium;
    padding-bottom: 15px;
}
.work1{
    /* float: right;
    margin-top: 0px; */
    /* background-color: blue; */
    width: 390px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 61px;

    
}
.en{
    color: white;
}
.race{
    /* background-color: red; */
    /* display: flex; */
    width: 500px;
    
}

.img{
    height: 70px;
    width: 60px;
    margin-top: 4px;
    /* padding-left: 100px; */
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}
.bigdiv{
    display: inline-flex;
}

.hog3{
    /* margin-left: 180px; */
    /* background-color: red; */
    /* margin-top: 5px; */
    display: flex;
    width: 39%;
    
}
.form1{
    background-color: white;
    /* float: right; */
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 40PX;
    
}

.hog8{
    color: white;
    background-color: rgb(1, 1, 27);
    width: 700px;
    height: 600px;
    margin-top: 80px;
    padding-left: 50px;
    font-size: 25px;
}
.hog2{
    color: white;
    margin-left: 300px;
    margin-bottom: 80px;
    background-color: rgb(1, 1, 27);
    position: relative;
    bottom: 100px;
}
.hog1{
    color: white;
}
.bof3{
    
    list-style-type: none;
    
}
.bof4{
    width: 430px;
    height: 50px;
    margin-block-end: 10px;
    margin-left: 20PX;

    
}
.RG1{
    margin-left: 20px;
}

.bof8{
    width: 44%;
    height: 50px;
}
button{
    background-color: rgb(36, 36, 189);
    color: white;
    width: 310px;
    height: 50px;
    margin-left: 80px;
    margin-top: 39px;
}

.inp{
    display: flex;
    justify-content: space-between;
    width: 438px;
    margin-block-end: 10px;
    padding-left: 20PX;
}
.middle{
    background-color: lightgrey;
    /* display:inline-flex; */
    
}
.vig{
    border-radius: 30px;
    height: 150px;
    width: 150px;
    margin-left: 40;
}